*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #fff;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 10%;
    gap: 20px;
    flex-wrap: wrap;
}

.header-text {
    flex: 1;
    font-size: 30px;
}

.header-text h1 {
    font-size: 45px;
    margin-bottom: 100px;
}

.header-text p {
    font-size: 20px;
    position: relative;
    bottom:80px;
}

.header-text h1 span {
    color: #ff004f;

}

.header-img {
    flex: 1;
    text-align: right;
}

.header-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    height: auto;
    margin-left: 175px;
    margin-top: -50px;
}



.container{
   padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}


nav ul {
    display: flex;
    margin-left: auto;
    position: relative;
    top: 20px; 
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover:after{
    width: 100%;
}


/*------------------About Section------------------*/
#about {
    padding: 80px 0;
    color: #ababab;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.about-col-1 {
    flex: 1;
    min-width: 250px;
}

.about-col-1 img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.about-col-2 {
    flex: 2;
    min-width: 300px;
    position: relative;
    left: 30px;
}

.sub-title {
    font-size: 30px;
    font-weight: 600;
    color: #f0f0f0;
    margin-bottom: 20px;
}
.about-description {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-top: 20px;
}

/*------------------Education Section------------------*/

#education {
    padding: 100px 0;
    color: #ababab;
}

.education-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.education-list {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.education-image {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:35px;
    top: 25px;
}

.education-image img {
    height: 100%;
    width: 300%;
    max-width: 105%;
    object-fit: cover;
    border-radius: 12px;

}


.education-item {
    background: #1e1e1e;
    padding: 20px 25px;
    border-left: 4px solid #ff004f;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.education-item:hover {
    background: #2a2a2a;
}

.education-item h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.education-item p {
    font-size: 16px;
    line-height: 1.6;
}
