*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

#header {
    width: 40%;
    height: 100vh;
    background-image: url(Images/background_img.jpg);
    background-size: cover;
    background-position: center; 
}
