*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 0 10px;
    gap: 20px;
    flex-wrap: wrap;
}

.header-text {
    flex: 1;
    font-size: 30px;
}

.header-text h1 {
    font-size: 45px;
    margin-bottom: 100px;
}

.header-text p {
    font-size: 20px;
    position: relative;
    bottom:80px;
}

.header-text h1 span {
    color: #ff004f;

}

.header-img {
    flex: 1;
    text-align: left;
}

.header-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    height: auto;
    margin-left: 0px;
    margin-top: -50px;
    z-index: -1;
}



.container{
   justify-content: space-between;
   padding: 10px 10%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}


nav ul {
    display: flex;
    gap: 2px;
    margin-left: auto;
    position: relative;
    top: 20px; 
    right: -80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover:after{
    width: 100%;
}


/*------------------About Section------------------*/
#about {
    padding: 70px 0 70px; 
    color: #ababab;
    scroll-margin-top: 0;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.about-col-1 {
    flex: 1;
    min-width: 250px;
}

.about-col-1 img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.about-col-2 {
    flex: 2;
    min-width: 300px;
    position: relative;
    left: 30px;
}

.sub-title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
}

.sub-title-about {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #fff;
}

.about-description {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
    margin-top: 20px;
}

/*------------------Education Section------------------*/

#education {
    padding: 10px 0 40px; 
    color: #ababab;
    scroll-margin-top: 0;
}

.education-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.education-list {
    flex: 1 1 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.education-image {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left:35px;
    top: 2px;
}

.education-image img {
    height: 100%;
    width: auto;
    max-width: 101%;
    object-fit: cover;
    border-radius: 12px;

}


.education-item {
    background: #1e1e1e;
    padding: 20px 25px;
    border-left: 4px solid #ff004f;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.education-item:hover {
    background: #2a2a2a;
}

.education-item h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
}

.education-item p {
    font-size: 16px;
    line-height: 1.6;
}

/*------------------Skill Section------------------*/

#skills {
    padding: 40px 0 50px; 
    background: #000000;
    color: #ffffff;
    scroll-margin-top: 0;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.skill-box {
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid #ab0000;
    border-radius: 8px;
    padding: 25px;
    transition: 0.3s ease;
    backdrop-filter: blur(8px);
    box-shadow: 0 0 15px rgba(218, 2, 2, 0.15);
}

.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(238, 1, 1, 0.818);
}

.skill-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ff004f;
}

.skill-box ul {
    list-style: disc;
    padding-left: 20px;
}

.skill-box ul li {
    margin-bottom: 10px;
    font-size: 15px;
    color: #e0e0e0;
}


/*------------------project Section------------------*/
#projects {
    padding: 0px 0 100px; 
    background-color: #000000;
    padding: 60px 0;
    color: #ffffff;
    scroll-margin-top: 0;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.project-card {
    background: #000000;
    border: 1px solid #ab0000;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(161, 1, 1, 0.89);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(238, 1, 1, 0.818);
}

.project-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ff004f;
}

.project-card p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
    line-height: 1.6;
}

.project-card a {
    color: #7b00ff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;
}


.repo-link {
    display: inline-block;
    padding: 6px 14px;
    margin-top: 6px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s ease;
}

.repo-link:hover {
    background-color: #023947; 
}

/*------------------Contact Section------------------*/

#contact {
    padding: 80px 0 70px; 
    background-color: #000;
    color: #fff;
    scroll-margin-top: 0;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
    position: relative;
    top: -10px;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i {
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #ff004f;
}

.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    background: #ff004f;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
    
form button.btn2 {
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 40px;
    font-size: 18px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background: #ff004f;
    transition: background-color 0.3s ease;
    position: relative;
    top: -30px;
}

.sub-title_contact {
    position: relative;
    right: inherit;
}

.form-message,
.form-error {
  display: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.4;
}

.form-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  position: relative;
  top: -40px;
}

.form-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  position: relative;
  top: -40px;
}

.form-message i,
.form-error i {
  font-size: 16px;
}


/*------------css code for rsponsive design------------*/

nav .fa-solid{
    display: none; 
}

@media (max-width: 900px) {
    nav .fa-solid {
        display: block;
    }

    #navLinks {
    flex-direction: column;
    background: #0a0a0a;
    position: fixed;
    top: 0;
    right: -220px;
    width: 115px;
    height: 60vh;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  #navLinks.show {
    right: 0;
  }

  #navLinks li {
    margin: 20px 15px;
  }

  #close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
  }

  #menu-icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 768px) {
    
    .header-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #home {
        padding: 50px 0 0px;
    }
    #about {
        padding: 40px 0 0px;
    }
    #education {
        padding: 0px 0 120px;
    }
    #skills {
        padding: 40px 0 60px;
    }
    #projects {
        padding: 30px 0 70px;
    }
    #contact {
        padding: 80px 0 60px;
    }
    .header-text{
        margin-bottom: 20px;
    }

    .header-img img {
        margin: 0 auto;
        width: 80%;
        max-width: 300px;
        margin-top: 30px;
        position: relative;
        right: -40px;
    }

    nav ul {
        position: static;
        top: 0;
        right: 0;
        justify-content: center;
    }

    .row, .education-wrapper, .skills-grid, .projects-grid {
        flex-direction: column;
        align-items: center;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
        text-align: center;
    }
    .contact-right {
        position: static;
        top: 0;
    }
    .contact-left p {
        text-align: center;
    }
    .contact-left p i {
        margin-right: 10px;
    }
    .contact-right form {
        width: 90%;
    }
    .btn {
        width: 100%;
        text-align: center;
    }
    .btn2 {
        width: 100%;
        text-align: center;
        position: static;
        top: 0;
    }
    .sub-title_contact {
        text-align: center;
        margin-bottom: 20px;
    }
    .sub-title-about {
        text-align: center;
        margin-bottom: 20px;
        position: relative;
        color: #fff;
        right: 30px;
    }

    .sub-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .about-col-1, .about-col-2 {
        flex: 1 1 100%;
        text-align: center;
    }
    .about-col-1 img {
        margin: 0 auto;
        width: 80%;
    }
    .about-description {
        font-size: 16px;
        line-height: 1.5;
        position: relative;
        right: 25px;
    }
    .education-image {
        left: 0;
        top: 0;
        margin-top: 20px;
    }
    .education-list, .education-image {
        flex: 1 1 100%;
        text-align: center;
    }
    .education-list {
        margin-top: 20px;
    }
    .education-item {
        padding: 15px;
    }
    .education-item h3 {
        font-size: 18px;
    }
    .education-item p {
        font-size: 14px;
    }
    .skill-box {
        padding: 20px;
    }
    .skill-box h3 {
        font-size: 18px;
    }
    .skill-box ul li {
        font-size: 14px;
    }
    .project-card {
        padding: 15px;
    }
    .project-card h3 {
        font-size: 16px;
    }
    .project-card p {
        font-size: 12px;
    }
    .project-card a {
        font-size: 14px;
    }
    .repo-link {
        padding: 6px 12px;
        font-size: 12px;
    }
    .social-icons a {
        font-size: 24px;
        margin-right: 10px;
    }

}